/*Navigation Bar*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Background image */
body {
  background-image: url("..\\\\images\\background.jpg");
  background-repeat: no-repeat center fixed;
  background-size: cover;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  background: #232323;
}


